snippet tonytable "Tony Table" b
<table style="display: table"><tr><th>Do</th><th>Don't</th></tr>
<tr><td valign="top"><pre lang="$1">
$2
</pre></td>
<td valign="top"><pre lang="$1">
$3
</pre></td>
</tr></table>
endsnippet
