[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = git://github.com/wavded/vim-stylus.git
